### General file patterns
*.dSYM
*.orig
*.swp
*~
*.code-workspace
!micro-kernel.code-workspace
.cache
.cproject
.clangd
.DS_Store
.gdb_history
.gdbinit
.jiri_manifest
.vscode
blk.bin
build-*
compile_commands.json
cscope.*
doit*
local.mk
scripts/toolpaths.local
t
tagit
TAGS
tags
toolchain
.cache
vmlinux

### Top-level directories
/.jiri/
/.jiri_root/
# For storing local scripts and data files in a source tree.
/local/
/build-*/
/prebuilt/downloads/
/prebuilt/config.mk
/prebuilt/config-zig.mk

# Local test coverage file.
lcov.info
.coverage